<section id="active-game">
  <article id="game-over">
    <h2><span id="winner-name">PLAYER NAME</span> won!</h2>
    <button class="btn">Start New Game</button>
  </article>
  <p id="game-turn">
    It's <span id="active-player-name">PLAYER NAME</span>'s turn!
  </p>
  <ol id="game-board">
    <li data-row="1" data-col="1"></li>
    <li data-row="1" data-col="2"></li>
    <li data-row="1" data-col="3"></li>

    <li data-row="2" data-col="1"></li>
    <li data-row="2" data-col="2"></li>
    <li data-row="2" data-col="3"></li>

    <li data-row="3" data-col="1"></li>
    <li data-row="3" data-col="2"></li>
    <li data-row="3" data-col="3"></li>
  </ol>
</section>
