<section id="active-game">
  <article id="game-over">
    <h2><span id="winner-name">PLAYER NAME</span> won!</h2>
    <button class="btn">Start New Game</button>
  </article>
  <div id="players-info">
    <p id="player1" class="player-name">Plyer 1 name</p>
    <p>vs</p>
    <p id="player2" class="player-name">Player 2 name</p>
  </div>
  <ol id="game-board">
    <li data-row="1" data-col="1"></li>
    <li data-row="1" data-col="2"></li>
    <li data-row="1" data-col="3"></li>

    <li data-row="2" data-col="1"></li>
    <li data-row="2" data-col="2"></li>
    <li data-row="2" data-col="3"></li>

    <li data-row="3" data-col="1"></li>
    <li data-row="3" data-col="2"></li>
    <li data-row="3" data-col="3"></li>
  </ol>
  <div id="game-turn">
    <p>
      It's <span id="active-player-name">PLAYER NAME</span><span>'s</span> turn!
    </p>
  </div>
</section>
