<section id="active-game">
  <article id="game-over">
    <h2>Game over status text</h2>
    <div>
      <button class="btn join-random-room-btn join-new-room-btn">
        New Room
      </button>
      <button id="play-again-btn" class="btn btn-alt">Play Again!</button>
      <button class="btn btn invite-friend-btn join-new-room-btn" type="submit">
        Invite Friend
      </button>
    </div>
  </article>
  <div id="players-info">
    <p id="player1" class="player-name">Plyer 1 name</p>
    <p>vs</p>
    <p id="player2" class="player-name">Player 2 name</p>
  </div>
  <div class="game-error-message">
    <p>
      <span>Game error message</span>
      <button>X</button>
    </p>
  </div>
  <ol id="game-board">
    <li data-row="1" data-col="1"></li>
    <li data-row="1" data-col="2"></li>
    <li data-row="1" data-col="3"></li>

    <li data-row="2" data-col="1"></li>
    <li data-row="2" data-col="2"></li>
    <li data-row="2" data-col="3"></li>

    <li data-row="3" data-col="1"></li>
    <li data-row="3" data-col="2"></li>
    <li data-row="3" data-col="3"></li>
  </ol>
  <div id="game-turn">
    <p>
      It's <span id="active-player-name">Active Player Name</span
      ><span>'s</span> turn!
    </p>
  </div>
  <div id="active-game-buttons">
    <button class="btn join-random-room-btn join-new-room-btn">New Room</button>
    <button class="btn invite-friend-btn join-new-room-btn">
      Invite Friend
    </button>
  </div>
</section>
