<section id="game-config">
  <form>
    <div class="form-control">
      <div>
        <label for="playername">Choose Your Name</label>
        <input type="text" name="playername" id="playername" required />
      </div>
    </div>
    <div class="form-error-message">
      <p>Some error!</p>
    </div>
    <div>
      <button class="btn" type="submit">Start Game</button>
    </div>
  </form>
</section>
