<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
  </head>
  <body>
    <%- include("includes/backdrop") %> 
    <header id="main-header">
      <h1>404 - Page Not Found</h1>
      <a href="/">
        <button class="btn btn-alt">Back to Safety!</button>
      </a>
    </header>
    <main></main>
  </body>
</html>
