<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
  </head>
  <body>
    <%- include("includes/backdrop") %> 
    <header id="main-header">
      <h1>500 - Internal server error</h1>
      <div>
        <a href="/">
          <button class="btn btn-alt">Back to Safety!</button>
        </a>
      </div>
    </header>
    <main></main>
  </body>
</html>
